.text-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the content is centered vertically */
    background-color: #f0f0f0; /* Light background color */
    padding: 20px;
}
